div.samsa{
    width: 100px;
    height: 150x;    
    position: absolute;
    left: 500px;
}
div.daving{
    width: 1250px;
    height: 150x;    
    position: absolute;
    top: 350px;
    left: 200px;
}

p.one {
    width: 70px;    
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 200px;
}

p.two{   
    width: 70px;
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 125px;
}

p.tree{   
    width: 70px;
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 150px;
}

p.fork{   
    width: 80px;
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 250px;
}

p.five{   
    width: 70px;
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 150px;
}

div.samsung{
    width: 1250px;
    height: 150x;    
    position: absolute;
    top: 350px;
    left: 200px;
}

p.J {
    width: 70px;    
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 200px;
}

p.A{   
    width: 70px;
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 125px;
}

p.M{   
    width: 70px;
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 150px;
}

p.S{   
    width: 70px;
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 185px;
}

p.Z{   
    width: 70px;
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 150px;
}

div.samsungJ_1{
    width: 1250px;
    height: 150x;    
    position: absolute;
    top: 350px;
    left: 355px;
}

p.smartfon_J1 {
    width: 70px;    
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 65px;
}

p.smartfon_J1mp{   
    width: 70px;
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 75px;
}

p.smartfon_J1m{   
    width: 70px;
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 75px;
}

p.smartfon_J2{   
    width: 70px;
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 75px;
}

p.smartfon_J2c{   
    width: 70px;
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 75px;
}

div.samsungJ_2{
    width: 1250px;
    height: 150x;    
    position: absolute;
    top: 585px;
    left: 355px;
}

p.smartfon_J2p{
    width: 70px;    
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 75px;
}

p.smartfon_J3{   
    width: 70px;
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 75px;
}

p.smartfon_J4{   
    width: 70px;
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 75px;
}

p.smartfon_J5{   
    width: 70px;
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 75px;
}

p.smartfon_J5p{   
    width: 70px;
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 75px;
}

div.samsungJ_3{
    width: 1250px;
    height: 150x;    
    position: absolute;
    top: 825px;
    left: 355px;
}

p.smartfon_J6{
    width: 70px;    
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 75px;
}

p.smartfon_J6pl{   
    width: 70px;
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 75px;
}

p.smartfon_J7{   
    width: 70px;
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 75px;
}

p.smartfon_J7n{   
    width: 70px;
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 75px;
}

p.smartfon_J8{   
    width: 150px;
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 75px;
}


div.samsungA_1{
    width: 1250px;
    height: 150x;    
    position: absolute;
    top: 350px;
    left: 355px;
}

p.smartfon_A02 {
    width: 70px;    
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 65px;
}

p.smartfon_A02s{   
    width: 70px;
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 75px;
}

p.smartfon_A12{   
    width: 70px;
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 75px;
}

p.smartfon_A22{   
    width: 70px;
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 75px;
}

p.smartfon_A22s{   
    width: 70px;
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 75px;
}

div.samsungA_2{
    width: 1250px;
    height: 150x;    
    position: absolute;
    top: 585px;
    left: 355px;
}

p.smartfon_A32{
    width: 70px;    
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 75px;
}

p.smartfon_A34{   
    width: 70px;
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 75px;
}

p.smartfon_A52{   
    width: 70px;
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 75px;
}

p.smartfon_A53{   
    width: 70px;
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 75px;
}

p.smartfon_A24{   
    width: 70px;
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 75px;
}

p.smartfon_A72{   
    width: 70px;
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 75px;
}

div.samsungM_1{
    width: 1250px;
    height: 150x;    
    position: absolute;
    top: 350px;
    left: 450px;
}

p.smartfon_M14 {
    width: 70px;    
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 65px;
}

p.smartfon_M53{   
    width: 70px;
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 75px;
}

p.smartfon_M33{   
    width: 70px;
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 75px;
}

p.smartfon_M23{   
    width: 70px;
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 75px;
}

div.samsungM_2{
    width: 1250px;
    height: 150x;    
    position: absolute;
    top: 585px;
    left: 450px;
}

p.smartfon_M32 {
    width: 70px;    
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 65px;
}

p.smartfon_M12{   
    width: 70px;
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 75px;
}

p.smartfon_M52{   
    width: 70px;
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 75px;
}

p.smartfon_M22{   
    width: 70px;
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 75px;
}

div.samsungS_1{
    width: 1250px;
    height: 150x;    
    position: absolute;
    top: 350px;
    left: 500px;
}

p.smartfon_S23ultra {
    width: 70px;    
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 65px;
}

p.smartfon_S23pl{   
    width: 70px;
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 75px;
}

p.smartfon_S23{   
    width: 70px;
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 75px;
}

div.samsungS_2{
    width: 1250px;
    height: 150x;    
    position: absolute;
    top: 585px;
    left: 500px;
}

p.smartfon_S22ultra {
    width: 70px;    
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 65px;
}

p.smartfon_S22pl{   
    width: 70px;
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 75px;
}

p.smartfon_s22{   
    width: 70px;
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 75px;
}

div.samsungZ_1{
    width: 1250px;
    height: 150x;    
    position: absolute;
    top: 350px;
    left: 450px;
}

p.smartfon_z5fold {
    width: 70px;    
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 65px;
}

p.smartfon_z5flip{   
    width: 70px;
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 75px;
}


p.smartfon_z4fold {
    width: 70px;    
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 65px;
}

p.smartfon_z4flip{   
    width: 70px;
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 75px;
}

div.bugs_1{
    width: 1250px;
    height: 150x;    
    position: absolute;
    top: 350px;
    left: 500px;
}

p.buds {
    width: 70px;    
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 65px;
}

p.budspl{   
    width: 70px;
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 75px;
}

p.buds_live{   
    width: 70px;
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 75px;
}

div.buds_2{
    width: 1250px;
    height: 150x;    
    position: absolute;
    top: 585px;
    left: 500px;
}

p.bids_pro{
    width: 70px;    
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 65px;
}

p.buds_2{   
    width: 70px;
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 75px;
}

p.buds_2pro{   
    width: 70px;
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 75px;
}

div.Watch_1{
    width: 1250px;
    height: 150x;    
    position: absolute;
    top: 350px;
    left: 500px;
}

p.Watch4 {
    width: 70px;    
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 65px;
}

p.Watch4c{   
    width: 70px;
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 75px;
}

p.Watch5{   
    width: 70px;
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 75px;
}

div.Watch_2{
    width: 1250px;
    height: 150x;    
    position: absolute;
    top: 585px;
    left: 500px;
}

p.Watch5p {
    width: 70px;    
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 65px;
}

p.Watch6{   
    width: 70px;
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 75px;
}

p.Watch6c{   
    width: 70px;
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 75px;
}

div.tab_1{
    width: 1250px;
    height: 150x;    
    position: absolute;
    top: 350px;
    left: 500px;
}

p.tabS7{
    width: 70px;    
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 65px;
}

p.tabS7pl{   
    width: 70px;
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 75px;
}

p.tabS7fe{   
    width: 70px;
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 75px;
}
div.tab_2{
    width: 1250px;
    height: 150x;    
    position: absolute;
    top: 350px;
    left: 500px;
}

p.tabS8{
    width: 70px;    
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 65px;
}

p.tabS8pl{   
    width: 70px;
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 75px;
}

p.tabS8u{   
    width: 70px;
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 75px;
}
div.tab_3{
    width: 1250px;
    height: 150x;    
    position: absolute;
    top: 350px;
    left: 500px;
}

p.tabS8{
    width: 70px;    
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 65px;
}

p.tabS8pl{   
    width: 70px;
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 75px;
}

p.tabS8u{   
    width: 70px;
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 75px;
}
h1 {
    text-align: center;
}

